<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<title>Maning mashines shop</title>
</head>
<body>
	<div class="container">

		<div class="header">
			<img src="{% static 'img/logo.png' %}" alt="Магазин оборудования для майнинга">
			<div class="header-text">
				Mining<br>machines
			</div>		
			<ul class="menu">
				<li><a href="{% url 'main' %}">Главная</a></li>
				<li><a href="{% url 'catalog:index' %}">Каталог</a></li>
				<li><a href="{% url 'contacts' %}">Контакты</a></li>
			</ul>
		</div>

		{% block content %}
		{% endblock %}

		<div class="footer">
			&copy; Все права защищены
		</div>
	</div>
</body>
</body>
</html>