{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block content %}
		<div class="content">
			<hr>
			<h1>Асик майнер Antminer S9</h1>
			<div class="product">
				<div class="product-image">
					<a href="{% static 'img/products/antminer_s9_small.jpg' %}" target="_blank"><img src="{% static 'img/products/antminer_s9_small.jpg' %}" alt="Асик майнер Antminer S9"></a>
				</div>
				<div class="product-short-description">
					<h2>Описание товара</h2>
					<p>
					Лидирующий китайский производитель майнеров BITMAIN представляет новое поколение своего оборудования для добычи биткоинов на основе техпроцесса 16 нм. 
					</p>
					<a href="#" class="product-btn-buy">Купить</a>
				</div>
			</div>
			<div class="product-full-description">
				<h2>Подробное описание товара</h2>
				<p>
					Antminer S9 от компании Bitmain относится к новому поколению оборудования для майнинга криптовалют на алгоритме sha-256. Большой хешрейт 13,5 TH/s и потребляемая мощность 1300Вт обеспечивает хорошую энергоэффективность в 0.098 Дж/Гх. Охлаждение обеспечивается двумя кулерами модели 12038 на передней и задней части майнера. Рабочая температура от 0 до 40 C. Вес чуть более 5.5 килограммов. На верхней части корпуса установлен сетевой контроллер S9 с имеющимся Ethernet-интерфейсом и слотом под SD-карту, а также парой световых индикаторов. Модель считается шумной, поэтому для домашнего использования не совсем подходит. Устройство обладает очень удобным ПО, со всей необходимой информацией и статистическими домашнегоными.
				</p>
				<h2>Характеристики товара</h2>
				<table>
					<tr class="tech-first">
						<td>
							<span>Параметры</span>
						</td>
						<td>
							<span>Значения</span>
						</td>
					</tr>
					<tr>
						<td class="tech-name">
							<span>Хэшрейт:</span>
						</td>
						<td class="tech-value">
							<span>13.5 TH/s</span>
						</td>
					</tr>
					<tr>
						<td class="tech-name">
							<span>Количество CPU:</span>
						</td>
						<td class="tech-value">
							<span>189 (BM1387)</span>
						</td>
					</tr>
					<tr>
						<td class="tech-name">
							<span>Алгоритм майнинга:</span>
						</td>
						<td class="tech-value">
							<span>SHA-256</span>
						</td>
					</tr>
					<tr>
						<td class="tech-name">
							<span>Уровень шума:</span>
						</td>
						<td class="tech-value">
							<span>80 дБ</span>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="tech-name">
							<span>Особенности:</span>
						</td>
					</tr>
					<tr>
						<td class="tech-name">
							<span>Рабочая температура:</span>
						</td>
						<td class="tech-value">
							<span>5 С до 40 С</span>
						</td>
					</tr>
					<tr>
						<td class="tech-name">
							<span>Энергопотребление:</span>
						</td>
						<td class="tech-value">
							<span>1300 Вт</span>
						</td>
					</tr>
					<tr>
						<td class="tech-name">
							<span>Вес:</span>
						</td>
						<td class="tech-value">
							<span>5,5 кг</span>
						</td>
					</tr>
					<tr>
						<td class="tech-name">
							<span>Размеры (В х Ш х Г), мм</span>
						</td>
						<td class="tech-value">
							<span>158 х 350 х 135</span>
						</td>
					</tr>
				</table>
			</div>
			<hr>
		</div>
{% endblock %}