{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block content %}
		<div class="content">
			<hr>
			<h1>Каталог</h1>
			<div>
				{% include 'mainapp/includes/inc_menu.html' %}
			</div>
			<div class="catalog">

				{% for product in products %}
				<div class="unit">
					<div class="unit-name">
						{{ product.name }}
					</div>
					<div class="unit-img">
						<img src="/media/{{ product.image }}" alt="{{ product.short_desc }}">
					</div>
					<div class="unit-description">
						{{ product.description }}
					</div>
					<div class="unit-price">
						&#8381; {{ product.price }}
					</div>
					<div class="unit-product">
						<a href="{% url 'unit' product.pk %}">Подробнее...</a>
						<a href="{% url 'basket:add' product.pk %}" class="buy-link">Купить</a>
					</div>
				</div>
				{% endfor %}

			</div>
			<hr>
		</div>
{% endblock %}