{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block content %}
		<div class="content">
			<hr>
			<h1>Оборудование для майнинга</h1>
			<p>
				На волне популярности криптовалют и блокчейн-технологий многие люди погружаются в тему и хотят поучаствовать во всеобщем увлечении. Каждый идёт своим путём — трейдинг, инвестиции, отслеживание перспективных ICO. Особняком стоит майнинг — процесс добычи криптовалют при помощи профессионального оборудования. Продажа оборудования для майнинга обязательно подразумевает гарантию и высокое качество продукции — купив топ-видеокарту или ASIC, пользователь может не переживать о том, что зря потратил деньги.
			</p>
			<h2>Виды техники для майнинга</h2>
			<p>
				Добыча Bitcoin или других криптомонет может осуществляться разными способами, а именно:
			</p>
			<p>
			<ol>
				<li>
					ASIC. Самое эффективное оборудование для Биткоинов из всех, что есть сейчас в продаже. Сегодня майнить самую популярную монету можно только на нем, ведь сложность генерации блоков в Bitcoin постоянно возрастает и менее мощное майнинг-оборудование здесь уже не подойдет.
				</li>
				<li>
					GPU-ферма. Состоит из нескольких видеокарт и дополнительных элементов, обеспечивающих их работу.
				</li>
				<li>
					Процессоры. В 2018 году подходят для майнинга разве что новых криптовалют, сложность которых еще находится на низком уровне.
				</li>
			</ol>
			</p>
			<p>
				Есть и другие варианты (такие, как облачный майнинг).
			</p>
			<h2>Советы по выбору</h2>
			<p>
				Перед покупкой нужно определиться с тем, какую из актуальных монет вы планируете добывать. Есть и масса других факторов — от расхода электроэнергии до уровня шума. Посчитать прибыльность фермы или асика можно при помощи одного из распространенных в сети калькуляторов майнинга. Это поможет выяснить, когда приобретение окупится и выведет на доход.
			</p>
			<hr>
		</div>
{% endblock %}