{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block content %}
		<div class="content">
			<hr>
			<h1>Каталог</h1>
			<div class="catalog">

				<div class="unit">
					<div class="unit-name">
						Асик майнер Antminer S9
					</div>
					<div class="unit-img">
						<img src="{% static 'img/products/antminer_s9_small.jpg' %}" alt="Асик майнер Antminer S9">
					</div>
					<div class="unit-description">
						Лидирующий китайский производитель майнеров BITMAIN представляет новое поколение своего оборудования для добычи биткоинов на основе техпроцесса 16 нм.
					</div>
					<div class="unit-price">
						&#8381; 218 400
					</div>
					<div class="unit-product">
						<a href="{% url 'good' %}">Подробнее...</a>
					</div>
				</div>

				<div class="unit">
					<div class="unit-name">
						Майнинг ферма на 6 видеокарт RX 570
					</div>
					<div class="unit-img">
						<img src="{% static 'img/products/farm_6cards_small.jpg' %}" alt="Майнинг ферма на 6 видеокарт RX 570">
					</div>
					<div class="unit-description">
						Данная ферма будет добывать криптовалюту : Ethereum, ZEC, Bitcoin(через NiceHash) и другие криптовалюты.
					</div>
					<div class="unit-price">
						&#8381; 16 750
					</div>
					<div class="unit-product">
						<a href="{% url 'good' %}">Подробнее...</a>
					</div>
				</div>

				<div class="unit">
					<div class="unit-name">
						Видеокарта GIGABYTE RX 570 4GB Gaming
					</div>
					<div class="unit-img">
						<img src="{% static 'img/products/rx570_small.jpg' %}" alt="Видеокарта GIGABYTE RX 570 4GB Gaming">
					</div>
					<div class="unit-description">
						Видеокарта Gigabyte Radeon RX 570 Gaming создана, чтобы удовлетворить все требования опытных игроков. Основано на решении AMD Radeon, архитектура GPU Polaris.
					</div>
					<div class="unit-price">
						&#8381; 34 720
					</div>
					<div class="unit-product">
						<a href="{% url 'good' %}">Подробнее...</a>
					</div>
				</div>

				<div class="unit">
					<div class="unit-name">
						Асик Innosillicon A5 DashMaster
					</div>
					<div class="unit-img">
						<img src="{% static 'img/products/InnosilliconA5_small.jpg' %}" alt="Асик Innosillicon A5 DashMaster">
					</div>
					<div class="unit-description">
						Самая продвинутая модель на сегодня, и пожалуй – самая эффективная в добычи и энергопотреблении!  Окупаемость от 4-5 месяцев (с учетом курса валют).
					</div>
					<div class="unit-price">
						&#8381; 199 900
					</div>
					<div class="unit-product">
						<a href="{% url 'good' %}">Подробнее...</a>
					</div>
				</div>

				<div class="unit">
					<div class="unit-name">
						Асик майнер Antminer S9
					</div>
					<div class="unit-img">
						<img src="{% static 'img/products/antminer_s9_small.jpg' %}" alt="Асик майнер Antminer S9">
					</div>
					<div class="unit-description">
						Лидирующий китайский производитель майнеров BITMAIN представляет новое поколение своего оборудования для добычи биткоинов на основе техпроцесса 16 нм.
					</div>
					<div class="unit-price">
						&#8381; 218 400
					</div>
					<div class="unit-product">
						<a href="{% url 'good' %}">Подробнее...</a>
					</div>
				</div>

				<div class="unit">
					<div class="unit-name">
						Майнинг ферма на 6 видеокарт RX 570
					</div>
					<div class="unit-img">
						<img src="{% static 'img/products/farm_6cards_small.jpg' %}" alt="Майнинг ферма на 6 видеокарт RX 570">
					</div>
					<div class="unit-description">
						Данная ферма будет добывать криптовалюту : Ethereum, ZEC, Bitcoin(через NiceHash) и другие криптовалюты.
					</div>
					<div class="unit-price">
						&#8381; 16 750
					</div>
					<div class="unit-product">
						<a href="{% url 'good' %}">Подробнее...</a>
					</div>
				</div>

				<div class="unit">
					<div class="unit-name">
						Видеокарта GIGABYTE RX 570 4GB Gaming
					</div>
					<div class="unit-img">
						<img src="{% static 'img/products/rx570_small.jpg' %}" alt="Видеокарта GIGABYTE RX 570 4GB Gaming">
					</div>
					<div class="unit-description">
						Видеокарта Gigabyte Radeon RX 570 Gaming создана, чтобы удовлетворить все требования опытных игроков. Основано на решении AMD Radeon, архитектура GPU Polaris.
					</div>
					<div class="unit-price">
						&#8381; 34 720
					</div>
					<div class="unit-product">
						<a href="{% url 'good' %}">Подробнее...</a>
					</div>
				</div>

				<div class="unit">
					<div class="unit-name">
						Асик Innosillicon A5 DashMaster
					</div>
					<div class="unit-img">
						<img src="{% static 'img/products/InnosilliconA5_small.jpg' %}" alt="Асик Innosillicon A5 DashMaster">
					</div>
					<div class="unit-description">
						Самая продвинутая модель на сегодня, и пожалуй – самая эффективная в добычи и энергопотреблении!  Окупаемость от 4-5 месяцев (с учетом курса валют).
					</div>
					<div class="unit-price">
						&#8381; 199 900
					</div>
					<div class="unit-product">
						<a href="{% url 'good' %}">Подробнее...</a>
					</div>
				</div>

			</div>
			<hr>
		</div>
{% endblock %}